* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}
.container {
  max-width: 800px;
  background: #fff;
  width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.form {
  padding: 30px 10px;
}
.form h2 {
  margin-bottom: 10px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea {
  resize: vertical;
}
.phone-input {
  position: relative;
}
.phone-input input[type="tel"] {
  padding-left: 50px;
}
.phone-input:before {
  content: "+";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
.row {
  display: flex;
  margin-bottom: 10px;
}
.row1 {
  flex: 1;
  margin-right: 10px;
}
.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  gap: 30px;
}
.car-image-container {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.car-image-container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.required-message::before {
  content: "* ";
}
.required-message {
  color: rgb(228, 10, 10);
  margin: 10px auto;
  font-size: 14px;
}
.success-message {
  font-weight: bold;
  margin-bottom: 10px;
}
.confirmation-button,
.back-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.confirmation-button:hover,
.back-button:hover {
  background-color: #0056b3;
}
#userDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 480px) {
  .container {
    padding: 10px;
  }
  .row {
    flex-direction: column;
  }

  .row1 {
    margin-right: 0;
  }
}
